# Excluir carpeta de assets (archivos pesados)
assets/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
